.container-vegan{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
}

.container-vegan .transition-vegan{
    width: 100vw;
    height: 80px;
    margin-top: 0px;
    position: absolute;
    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
}

.container-vegan .img-vegan{
    background: url(../../assets/VEGAN.webp);
    width: 45vw;
    height: 75vh;
    background-position: center;
    background-size: cover;
}

.container-vegan .content-vegan{
    text-transform: uppercase;
    width: 55vw;
    font-family: 'MADE Outer Sans';
}

.container-vegan h1:first-child{
    font-size: 98px;
    margin: 0 55px -50px 0;
    float: right;
    color: var(--color-beige2);
}

.container-vegan h1:nth-child(2){
    font-size: 170px;
    margin: 0;
    color: #B3FF00;
}

.container-vegan p{
    color: var(--color-beige1);
    padding: 0 5%;
    margin: 0;
    font-size: 25px;
}

#vegan2{
    height: 40px;
    background: linear-gradient(to top, #000 70%, rgb(0, 0, 0, 0) );
    width: 100vw;
    position: absolute;
    margin-top: 33%;
}

/* --- Medium Screens --- */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .container-vegan{
        height: 65vh;
    }
    .container-vegan .img-vegan{
        width: 50vw;
        height: 60vh;
    }
    .container-vegan h1:first-child{
        font-size: 85px;
        margin: 0 40px -50px 0;
    }
    .container-vegan h1:nth-child(2){
        font-size: 110px;
    }
    .container-vegan p{
        margin: 0;
        font-size: 24px;
    }
    #vegan2{
        display: none;
    }
}

/* --- Large Screens --- */
@media screen and (min-width: 668px) and (max-width: 1023px){
    .container-vegan{
        height: 40vh;
        align-items: center;
        text-align: center;
    }
    .container-vegan .img-vegan{
        width: 40vw;
        height: 35vh;
    }
    .container-vegan h1:first-child{
        font-size: 55px;
        margin: 0 20px -30px 0;
    }
    .container-vegan h1:nth-child(2){
        font-size: 70px;
    }
    .container-vegan p{
        margin: 0;
        font-size: 24px;
    }
    .transition-vegan{
        display: none;
    }
    #vegan2{
        display: none;
    }
}

/* --- Mobile Screens --- */
@media screen and (width < 650px){
    .container-vegan{
        flex-direction: column;
        height: 55vh;
        width: 100vw;
        text-align: center;
    }
    .container-vegan .img-vegan{
        width: 100vw;
        height: 40vh;
    }
    .container-vegan .content-vegan{
        margin-top: -100px;
        background: linear-gradient(to top, #000 30%, rgba(0, 0, 0, 0));
        width: 100vw;
        height: 20vh;
    }
    .container-vegan h1:first-child{
        font-size: 45px;
        margin: 0;
        float: none;
        width: 100vw;
    }
    .container-vegan h1:nth-child(2){
        font-size: 60px;
        margin-top: -20px;
        width: 100vw;
    }
    .container-vegan p{
        margin: 0;
        font-size: 12px;
        width: 90vw;
    }
    .transition-vegan{
        display: none;
    }
    #vegan2{
        display: none;
    }
}