.container-background{
    display: flex;
}

.img-background{
    background: url(../../assets/LANCHE-1.webp);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.order{
    position: absolute;
    top: 40%;
    right: 2%;
    font-family: 'MADE Outer Sans';
    text-transform: uppercase;
    text-align: center;
}

.order p:nth-child(1){
    font-weight: 400;
    color: var(--color-beige2);
    font-size: 35px;
    margin: 0;
}

.order p:nth-child(2){
    color: var(--color-orange);
    font-weight: 700;
    font-size: 70px;
    margin: -10px 0 0;
}

.order p:nth-child(3){
    color: var(--color-beige2);
    font-size: 28px;
    margin-top: 16px;
}
.order p:nth-child(3):hover{
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-orange);
}

.img-french{
    background: url(../../assets/french-fries-levitate-white-background.webp);
    width: 650px;
    height: 450px;
    bottom: -30%;
    left: -15%;
    transform: rotate(-27deg);
}

.img-hen{
    background: url(../../assets/frango.webp);
    width: 250px;
    height: 350px;
    right: -7%;
    bottom: -25%;
}

.img{
    background-position: center;
    background-size: cover;
    position: absolute;
    filter: blur(2px);
    z-index: 99;
}

.order .want{
    display: none;
    font-family: 'MADE Outer Sans';
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    background-color: var(--color-orange);
    padding: 8px;
    border-radius: 5px;
    transition: all 0.2s;
    color: #000;
}
.order button:hover{
    background-color: transparent;
    color: var(--color-orange);
}
.transition-mobile{
    display: none;
}

/* --- Medium Screens --- */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .order{
        position: absolute;
        top: 80%;
        right: 0;
        left: 0;
    }

    .order p:nth-child(1){
        font-size: 25px;
    }
    
    .order p:nth-child(2){
        font-size: 50px;
    }
    
    .order p:nth-child(3){
        font-size: 18px;
        margin-top: 10px;
    }

    .img-french{
        width: 450px;
        height: 450px;
        top: 25%;
        left: 70%;
        transform: rotate(-30deg);
    }

    .img-hen{
        width: 250px;
        height: 350px;
        left: -10%;
        right: 0;
        bottom: -8%;
    }
}

/* --- Large Screens --- */
@media screen and (min-width: 668px) and (max-width: 1023px){
    .img-background{
        width: 100vw;
        height: 500px;
    }
    .order{
        display: none;
    }
    .img-french{
        width: 300px;
        height: 300px;
        top: 30%;
        left: -15%;
    }

    .img-hen{
        width: 200px;
        height: 300px;
        left: 85%;
        top: 30%;
    }
}

/* --- Mobile Screen --- */
@media screen and (width <= 667px){
    .img-background{
        width: 100vw;
        height: 400px;
        padding-left: 500px;
    }

    .order{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100vw;
        z-index: 99;
        margin-top: 360px;
        top: 0;
        left: 0;
        box-shadow: 0 20px 20px #000;
    }

    .order p{
        display: none;
    }

    .img-french{
        width: 170px;
        height: 170px;
        top: 30%;
        left: -20%;
    }
    .img-hen{
        display: none;
    }
    .order .want{
        display: flex;
        z-index: 99;
    }
    .transition-mobile{
        display: flex;
        position: absolute;
        width: 100vw;
        height: 1270px;
        z-index: 98;
        background: linear-gradient(to top, #000 50%, rgba(0, 0, 0, 0) 90%);
    }
    
}